
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,body{
    display: flex;
	height: 100%;
}



.sideMenu {
    max-width: 306px;
}

.container {
    height: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
}

.sideMenu-wrapp {
    display: flex;
    flex-direction: column;
    padding: 37px 0 0 0;
}

.sideMenu-wrapp__logo {
    padding: 0 0 65px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sideMenu-wrapp__logo-title {
    display: flex;
    align-items: end;
    gap: 4px;
}

.sideMenu-wrapp__logo-title-text-link {
    color: #000;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.26px;
    text-decoration: none;
}

.sideMenu-wrapp__logo-title-version {
    color: #838383;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.1px;
}

.sideMenu-wrapp__menu-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px 0 0;
}

.sideMenu-wrapp__menu {
    padding: 0 0 600px 0;
    list-style-type: none;
    cursor: pointer;
}

.sideMenu-wrapp__menu-icon {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 13px 0 13px 11px;
}

.sideMenu-wrapp__menu-arrow {
    padding-right: 15px;
}

.sideMenu-wrapp__menu-title-link {
    color: #9197B3;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    text-decoration: none;
}

.sideMenu-wrapp__menu-content:hover {
    border-radius: 8px;
    background: #5932EA;
  }
  
  .sideMenu-wrapp__menu-content:hover .sideMenu-wrapp__menu-icon-svg-link,
  .sideMenu-wrapp__menu-content:hover .sideMenu-wrapp__menu-title-link,
  .sideMenu-wrapp__menu-content:hover .sideMenu-wrapp__menu-arrow-svg-link,
  .sideMenu-wrapp__menu-content:hover .sideMenu-wrapp__menu-icon-svg-link path {
    color: #fff;
    fill: #fff; 
  }

  .sideMenu-wrapp__account {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 0 78px 0;
  }

  .sideMenu-wrapp__account-name {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
  }

  .sideMenu-wrapp__account-position {
    color: #757575;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
  }

.main{
    display: flex;
    flex-direction: column;
    max-width: 1134px;
    height: 100%;
    background: #FAFBFF;
}


.wrapp-product__top {
    padding: 41px 0 41px 51px;
}

.wrapp-product__top-title {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product-page {
    min-width: 895px;
    background: #fff;
    filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.50));
    border-radius: 30px;
    margin: 0 0 0 41px;
}

.wrapp-product__page-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 53px 0 38px;
}

.wrapp-product__page-content-top-title {
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.22px;
}

.wrapp-product__page-content-top-text {
    color: #16C098;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
}


.header-search__container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #F9FBFF;
    gap: 8px;
}

#search {
    background: #F9FBFF;
}

.icon-search {
    background: #F9FBFF;
    cursor: pointer;
}

.product-page__info {
    padding: 40px 67px 14px 38px;
    border-bottom: 1px solid #EEE;

}

.product-page__info-content {
    display: flex;
    justify-content: space-between;
}

.product-page__info-content-text {
    color: #B5B7C0;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    float: left;
}

.product-page__data-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 44px 24px 38px;
    border-bottom: 1px solid #EEE;
}

.product-page__data-content-title {
    color: #292D32;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
}

.product-page__data-content-statusActive {
    border-radius: 4px;
    border: 1px solid #00B087;
    background: rgba(22, 192, 152, 0.38);
    padding: 4px 12px;
}

.product-page__data-content-statusActive-title {
    color: #008767;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
}

.product-page__data-content-statusInactive {
    border-radius: 4px;
    border: 1px solid #DF0404;
    background: #FFC5C5;
    padding: 4px 12px;
}

.product-page__data-content-statusInactive-title {
    color: #DF0404;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px; 
}

.product-page__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px 41px 38px;
}

.product-page__bottom-content-text {
    color: #B5B7C0;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
}

.product-page__bottom-pages-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.product-page__button {
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #EEE;
    background: #F5F5F5;
}

.product-page__button-title {
    color: #404B52;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 100%; 
letter-spacing: -0.12px;
}

.product-page__button:hover {
    border-radius: 4px;
    border: 1px solid #5932EA;
    background: #5932EA;
  }
  
  .product-page__button:hover .product-page__button-title {
    color: #fff;
  }
  